@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100%;
    font-family: Roboto ;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

li {
    list-style: none;; 
}

.header, .hero-section, .footer {
    background-color: #1F2937;
}

.header{
  display: flex;
  justify-content: space-around; 

  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 40px;
  
}

.header-logo {
    font-size: 20px;
    color: #f9faf8;
    padding-top:10px ;
}

.header-links, .secondary-text, .hero-image {
    font-size: 15px;
    color: #E5E7EB
}

.hero-section{
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 50px;
    
}

.left-section {
   margin-right: 20px;
    width: 470px;
    margin-bottom: 10px;

}

.right-section {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 500px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    padding-bottom: 10px;
}

.hero-image {
    font-size: 18px;
    padding: 50px;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 8px 30px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    padding: 20px;
}

.information-heading {
    font-size: 30px;
    color: #1F2937;
    font-weight: 900;
    height: 50px;
    padding-bottom: 30px;
    padding-top: 20px
}

.illustrations {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 1000px;
    gap: 40px;
}

.image-one, .image-two, .image-three, .image-four {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 13px;
}

.subtext {
    font-size: 18px;
    display: flex;
    justify-content: center;
    height: 158px;
    width: 1000px;
    gap: 50px;
}

.subtext-one, .subtext-two, .subtext-three, .subtext-four{
    height: 150px;
    width: 150px;
    
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 370px;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 34px;
    height: 160px;
    width: 780px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.name-container {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 700px;
}

.name {
    font-size: 23px;
}